/* a couple of reveal.js overrides */
.reveal section img.logo {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
}

.reveal section img.embed {
  vertical-align: -50%;
}

.reveal section img.multiple {
  margin: 15px 20px;
}

.reveal pre {
  box-shadow: none;
}
